@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.footer-option {
  @apply font-extralight cursor-pointer hover:text-primary-yellow;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
